﻿@page "{restaurantId}"

@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete!</h2>

<div class="alert alert-danger">
    Are you sure you want to delete <i><strong>@Model.Restaurant.Name</strong></i>  ?
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="Index" class="btn btn-outline-primary">Cancel</a>
</form>
