﻿@page "{restaurantId:int}"

@model DetailModel

@{
    ViewData["Title"] = "Detail";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info">@Model.Message</div>
}

<div class="row">
    <div class="col-md-3">
        @*<img class="img-fluid" src="@Model.Restaurant.Cuisine.ImageFile" />*@
        <img class="img-fluid" src="@string.Format($"{Model.BaseUrl}{Model.Restaurant.Cuisine.ImageFile}")" />
    </div>
    <div class="col-md-9">
        <div class="card w-75">
            <div class="card-header bg-dark text-white">
                <h3>@Model.Restaurant.Name</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Location:</strong> @Model.Restaurant.Location</li>
                <li class="list-group-item"><strong>Address:</strong> @Model.Restaurant.Address</li>
                <li class="list-group-item"><strong>Open Hours:</strong> @Model.Restaurant.OpenHours</li>
                <li class="list-group-item"><strong>Cuisine:</strong> @Model.Restaurant.Cuisine.Name</li>
            </ul>
        </div>
    </div>
</div>

<hr />

<a class="btn btn-outline-primary" asp-page="./Index">All Restaurants</a>