﻿@page

@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Restaurant.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />

    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input class="form-control" asp-for="Restaurant.Name" />
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location"></label>
        <input class="form-control" asp-for="Restaurant.Location" />
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Address"></label>
        <input class="form-control" asp-for="Restaurant.Address" />
        <span class="text-danger" asp-validation-for="Restaurant.Address"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.OpenHours"></label>
        <input class="form-control" asp-for="Restaurant.OpenHours" />
        <span class="text-danger" asp-validation-for="Restaurant.OpenHours"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cuisines"></label>
        <select id="cuisineList" class="form-control" asp-for="CuisineId" asp-items="Model.Cuisines"></select>
    </div>

    <button type="submit" class="btn btn-outline-success">Save</button>
</form>

@section Scripts {

    <script>
    $(document).ready(function () {
      var cuisineId = @Model.Restaurant.CuisineId;

      if (cuisineId > 0) {
        $("#cuisineList").val(cuisineId);
      }
    });
    </script>
}

