﻿@page

@model IndexModel

@{
    ViewData["Title"] = "Home";
}


<div class="row">
    <h1>Restaurants</h1>
</div>

<div class="row">
    <div class="col-12">
        <form method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" class="form-control" id="searchBox" placeholder="Type name" asp-for="SearchTerm">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Cuisine</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var restaurant in Model.Restaurants)
                {
                    <tr>
                        <td>@restaurant.Name</td>
                        <td>@restaurant.Location</td>
                        <td>@restaurant.Cuisine.Name</td>
                        <td>
                            <a class="btn btn-md" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                                <i class="bi bi-search" title="View details"></i>
                            </a>
                            <a class="btn btn-md" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                                <i class="bi bi-pencil" title="Edit information"></i>
                            </a>
                            <a class="btn btn-md" asp-page="./Delete" asp-route-restaurantId="@restaurant.Id">
                                <i class="bi bi-trash" title="Delete restaurant"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />

    <a class="btn btn-outline-success" asp-page="./Edit">Add New</a>

</div>